.arrow {
    position: fixed;
    bottom: 3rem;
    right: 4rem;
    background: rgb(0,119,255);
    background: linear-gradient(90deg, rgba(0,119,255,1) 0%, rgba(0,187,255,1) 100%);
    color: #fff;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.5s, bottom 0.5s;
    opacity: 1;
    &:hover {
        bottom: 3.4rem;
    }
    &.disabled {
        opacity: 0;
        pointer-events: none;
    }
    span {
        position: relative;
        font-size: 1.5rem;
        top: .2rem;
    }
  }
