.button {
	@include button-reset;

	flex-shrink: 0;
	position: relative;
	isolation: isolate;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 0px 8px;
	font-size: 18px;
	font-weight: 600;
	color: var(--c-white);
	border-radius: 12px;
	background: none;
	min-width: 185px;
	padding: 20px 30px;
	transition-property: color, background-color;
	transition-duration: var(--t-dur);
	transition-timing-function: var(--t-easing);

	@include breakpoint-down(tablet) {
		font-size: 16px;
		border-radius: 10px;
		padding: 15px 24px;
	}

	@include breakpoint-down(mobile) {
		border-radius: 8px;
		padding: 12px 20px;
	}

	@include breakpoint-down(mobile-medium) {
		width: 100%;
	}

	> * {
		flex-shrink: 0;
	}

	&:before,
	span:before,
	span:after {
		content: '';
		position: absolute;
		inset: 0;
		border-radius: inherit;
		pointer-events: none;
		transition-property: opacity;
		transition-duration: var(--t-dur);
		transition-timing-function: var(--t-easing);
	}

	// Shadow
	&:before {
		z-index: -2;
		background: linear-gradient(to right, var(--c-blue), var(--c-lightblue));
		filter: blur(25px);
		transform: translate3d(0, 10%, 0);
		opacity: var(--shadow-opacity);
	}

	// Background
	span:before {
		z-index: -1;
		background: linear-gradient(to right, var(--c-blue), var(--c-lightblue));
		opacity: var(--background-opacity);
	}

	// Border
	span:after {
		--border-width: 2px;

		z-index: -1;
		opacity: var(--border-opacity);
		border: var(--border-width) solid transparent;
		background: linear-gradient(to right, var(--c-blue), var(--c-lightblue));
		background-size: calc(100% + calc(var(--border-width) * 2)) calc(100% + calc(var(--border-width) * 2));
		background-position: calc(var(--border-width) * -1) calc(var(--border-width) * -1);
		mask: linear-gradient(black, black) padding-box, linear-gradient(black, black) border-box;
		mask-composite: exclude;

		@include breakpoint-down(mobile) {
			--border-width: 2px;
		}
	}

	--background-opacity: 1;
	--shadow-opacity: 0;
	--border-opacity: 0;

	&:hover,
	&:focus-visible {
		--shadow-opacity: 1;
	}

	span {
		border-radius: inherit;
	}
}

.button--sm {
	font-size: 16px;
	min-width: 140px;
	padding: 15px 20px;
}

.button--white {
	color: var(--c-lightblue);

	&:before,
	span:before,
	span:after {
		background: linear-gradient(white, white);
	}

	&:before {
		transform: translate3d(0, 10%, 0) scale(0.9);
	}
}

.button--border {
	--background-opacity: 0;
	--border-opacity: 1;

	color: transparent;
	background-image: linear-gradient(to right, var(--c-blue), var(--c-lightblue));
	background-clip: text;

	&:hover,
	&:focus-visible {
		color: var(--c-white);

		--background-opacity: 1;
		--border-opacity: 0;
	}
}

.button--border-white {
	@extend .button--border;

	color: var(--c-white);
	background: none;

	&:before,
	span:before,
	span:after {
		background: linear-gradient(white, white);
	}

	&:hover,
	&:focus-visible {
		color: var(--c-lightblue);
	}
}

.button--full {
	width: 100%;
}

.button--full-mobile {
	@include breakpoint-down(mobile) {
		width: 100%;
	}
}
