.container {
	width: min(var(--container-width), calc(100% - var(--container-gutter) * 2));
	margin-inline: auto;
}

.container--sm {
	--container-width: 900px;
}

.container--xs {
	--container-width: 750px;
}

.container--fluid {
	--container-width: 100%;
}
