.field {
	display: block;
	background: none;
	box-shadow: none;
	outline: none;
	border: none;
	min-height: initial;
	color: var( --c-gray);
	border-radius: 12px;
	width: 100%;
	text-transform: none;
	font-size: 16px;
	line-height: 1;
	height: 55px;
	padding: 0 20px;
	background-color: var(--c-white-2);
}

.field--textarea {
	line-height: 1.2;
	border-radius: 12px;
	border: 1px solid currentColor;
	resize: none;
	min-height: initial;
	height: 160px;
	padding: 18px 24px;
}
