.footer {
	background-color: var(--c-gray);

	.footer__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 30px 15px;
		padding: 25px 0;

		@include breakpoint-down(mobile) {
			flex-direction: column;
			justify-content: center;
		}
	}

	.footer__bar {
		color: var(--c-white);
		text-align: center;
		background-color: var(--c-base);
		padding: 10px 0;
	}
}
