.form {
	.form__label {
		@include sr-only;
	}

	.form__inputs {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 16px;

		@include breakpoint-down(mobile-medium) {
			grid-template-columns: 100%;
			grid-gap: 12px;
		}
	}

	.form__input:not(.form__input--column) {
		grid-column: span 2;

		@include breakpoint-down(mobile-medium) {
			grid-column: span 1;
		}
	}

	.form__buttons {
		display: flex;
		justify-content: flex-end;
		margin-top: 24px;

		@include breakpoint-down(tablet) {
			margin-top: 18px;
		}

		@include breakpoint-down(mobile) {
			margin-top: 12px;
		}

		&:first-child {
			margin-top: 0;
		}
	}
}
