.header {
	z-index: 100;
	position: sticky;
	top: 0;
	background-color: var(--c-white);
	padding: 20px 0;
	transition: box-shadow var(--t-dur) var(--t-easing);
	will-change: box-shadow;

	@include breakpoint-down(mobile) {
		padding: 16px 0;
	}

	.header__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 15px;
	}

	.header__content {
		display: flex;
		align-items: center;
		gap: 16px 32px;

		@include breakpoint-down(tablet) {
			display: none;
		}

		> * {
			flex-shrink: 0;
		}
	}
}

body.has-scrolled .header {
	box-shadow: 0px 2px 8px rgba(0, 0, 0, .1);
}
