.header {
	z-index: 100;
	position: sticky;
	top: 0;
	padding-block: 20px;
	transition-property: box-shadow, background-color;
	transition-duration: var(--t-dur);
	transition-timing-function: var(--t-easing);
	will-change: box-shadow;

	.header__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 15px;
	}

	.header__content {
		display: flex;
		align-items: center;
		gap: 16px 66px;

		@include breakpoint-down(tablet) {
			display: none;
		}

		> * {
			flex-shrink: 0;
		}
	}

	.header__logo {
		max-width: 160px;
	}
}

body.has-scrolled .header {
	background-color: var(--c-white);
	box-shadow: 0px 2px 8px 2px rgba(var(--c-black-rgb), .1);
}
