.nav {
	ul {
		list-style: none;
	}

	a {
		display: block;
		text-decoration: none;
		transition-property: color;
		transition-duration: var(--t-dur);
		transition-timing-function: var(--t-easing);
	}
}
