.nav {
	ul {
		list-style: none;
	}

	a {
		display: block;
		text-decoration: none;
		transition-property: color;
		transition-duration: var(--t-dur);
		transition-timing-function: var(--t-easing);
	}

	.menu {
		display: flex;
		flex-wrap: wrap;
		gap: 4px 8px;
		margin: -4px -8px;

		> li > a {
			padding: 4px 8px;
		}

		> .menu-item-has-children {
			@include breakpoint-down(small-desktop) {
				display: grid;
				grid-template-rows: auto 0fr;
				place-items: start;
				transition: all var(--t-dur) var(--t-easing);
				overflow: hidden;

				> .sub-menu {
					min-height: 0;
					overflow: hidden;
				}

				&.is-current {
					grid-template-rows: auto 1fr;
				}
			}
		}
	}

	.menu-item-has-children {
		position: relative;

		> a {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			gap: 8px;

			@include breakpoint-down(small-desktop) {
				gap: 5px;
			}
		}

		@include breakpoint-up(small-desktop) {
			&:hover {
				a span {
					&:before {
						transform: translateY(-50%) rotate(0);
					}

					&:after {
						transform: translateY(-50%) rotate(0);
					}
				}

				> .sub-menu {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	.sub-menu {
		@include breakpoint-up(small-desktop) {
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translateX(-50%);
			width: 190px;
			text-align: center;
			color: var(--c-black);
			background-color: var(--c-white);
			border-radius: 15px;
			margin-top: 15px;
			box-shadow: 0px 0px 8px rgba(0, 0, 0, .05);
			padding: 20px 0;
			transition-property: opacity, visibility;
			transition-duration: var(--t-dur);
			transition-timing-function: var(--t-easing);
			opacity: 0;
			visibility: hidden;

			&:before {
				content: '';
				position: absolute;
				inset: auto 0 100%;
				height: 15px;
			}
		}

		@include breakpoint-down(small-desktop) {
			padding-left: 30px;
		}

		li {
			&:not(:last-child) {
				margin-bottom: 11px;

				@include breakpoint-down(small-desktop) {
					margin-bottom: 4px;
				}
			}

			a {
				display: block;
				padding: 0 12px;

				@include breakpoint-down(small-desktop) {
					padding: 2px 0;
				}

				span {
					display: none;
				}
			}
		}

		.sub-menu {
			@include breakpoint-up(small-desktop) {
				z-index: 1;
				left: 100%;
				right: auto;
				margin: 0;
				margin-left: 10px;
				transform: translateY(-25px);

				&:before {
					inset: 0 100% 0 auto;
					height: initial;
					width: 10px;
				}
			}
		}
	}

	/*  Last Item Sub Menu in Sub Menu  */

	.menu > .menu-item-has-children:last-child .sub-menu .sub-menu {
		@include breakpoint-up(small-desktop) {
			right: 100%;
			left: auto;
			margin: 0;
			margin-right: 10px;

			&:before {
				inset: 0 auto 0 100%;
			}
		}
	}

	/*  Hovers  */

	a:hover,
	.current-menu-item,
	.current-menu-ancestor,
	.menu-item-has-children:hover > a {
		color: var(--c-base);
	}
}
