.nav {
	font-size: 18px;

	ul {
		list-style: none;
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
		gap: 15px 51px;
	}

	a {
		display: block;
		text-decoration: none;
		transition-property: color;
		transition-duration: var(--t-dur);
		transition-timing-function: var(--t-easing);
	}
}
