.project {
	@include image-fit(true);

	aspect-ratio: 1;
	width: 100%;
	display: block;
	border-radius: 20px;
	text-decoration: none;

	@include breakpoint-down(tablet) {
		border-radius: 16px;
	}

	@include breakpoint-down(mobile) {
		border-radius: 12px;
	}
}
