.section {
	position: relative;
	isolation: isolate;
	margin-block: var(--section-spacing);

	.section__subheader {
		color: var(--c-blue);
		font-size: 24px;
		text-transform: uppercase;
		margin-bottom: 16px;

		@include breakpoint-down(small-desktop) {
			font-size: 22px;
		}

		@include breakpoint-down(tablet) {
			font-size: 20px;
			margin-bottom: 14px;
		}

		@include breakpoint-down(mobile) {
			font-size: 18px;
			margin-bottom: 12px;
		}

		@include breakpoint-down(mobile-medium) {
			font-size: 16px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.section__header {
		text-wrap: balance;
		margin-inline: auto;
		margin-bottom: 32px;

		@include breakpoint-down(tablet) {
			margin-bottom: 24px;
		}

		@include breakpoint-down(mobile) {
			margin-bottom: 16px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.section__text {
		color: var( --c-gray);
		line-height: var(--lh-entry);
		margin-bottom: 32px;

		@include breakpoint-down(tablet) {
			margin-bottom: 24px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.section--intro {
	overflow: hidden;
	margin: calc(var(--header-height) * -1) 0 0;

	@include breakpoint-down(tablet) {
		overflow: initial;
		text-align: center;
		padding-top: calc(var(--header-height) + 32px);
	}

	.section__grid {
		position: relative;
		isolation: isolate;
		display: grid;
		grid-template-columns: 48% 1fr;

		@include breakpoint-down(tablet) {
			grid-template-columns: 100%;
			grid-gap: 45px;
		}

		&:before,
		&:after {
			content: '';
			z-index: -1;
			position: absolute;
			aspect-ratio: 1;
		}

		&:before {
			bottom: 0;
			left: 0;
			transform: translate(-33%, 50%);
			height: 100%;
			background: radial-gradient(50% 50% at 50% 50%, rgba(var(--c-blue-rgb), 0.15) 0%, rgba(var(--c-blue-rgb), 0.00) 99.99%, rgba(var(--c-lightblue-rgb), 0.00) 100%);

			@include breakpoint-down(tablet) {
				height: auto;
				width: 75%;
			}
		}

		&:after {
			top: 0;
			right: 0;
			transform: translate(33%, -50%);
			height: 100%;
			background: radial-gradient(50% 50% at 50% 50%, rgba(var(--c-blue-rgb), 0.15) 0%, rgba(var(--c-blue-rgb), 0.00) 99.99%, rgba(var(--c-lightblue-rgb), 0.00) 100%);

			@include breakpoint-down(tablet) {
				height: auto;
				width: 75%;
			}
		}
	}

	.section__content {
		--padding-block: 32px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-block: calc(var(--padding-block) + var(--header-height));

		@include breakpoint-down(small-desktop) {
			padding-bottom: calc(var(--padding-block) + var(--header-height) / 2);
		}

		@include breakpoint-down(tablet) {
			padding-block: 0px;
			align-items: center;
			display: block;
		}
	}

	.section__header {
		// span {
		// 	color: transparent;
		// 	background-image: linear-gradient(to right, var(--c-blue), var(--c-lightblue));
		// 	background-clip: text;
		// }
	}

	.section__text {
		max-width: 500px;

		@include breakpoint-down(tablet) {
			text-wrap: balance;
			max-width: 100%;
		}
	}

	.section__image {
		align-self: flex-end;
		margin-right: -200px;
		padding-top: var(--header-height);

		@include breakpoint-down(tablet) {
			display: none;
		}
	}
}

.section--services {
	text-align: center;

	.section__header {
		max-width: 625px;
		margin-inline: auto;
	}

	.section__services {
		margin-top: 72px;

		@include breakpoint-down(tablet) {
			margin-top: 48px;
		}

		@include breakpoint-down(mobile) {
			margin-top: 32px;
		}

		&:first-child {
			margin-top: 0;
		}
	}
}

.section--why-us {
	@include breakpoint-up(tablet) {
		margin-block: calc(var(--section-spacing) * 1.5);
	}

	.section__grid {
		display: grid;
		grid-template-columns: 42.5% 1fr;
		grid-gap: 60px 9%;

		@include breakpoint-down(tablet) {
			grid-template-columns: 100%;
		}
	}

	.section__aside {
		padding-top: 24px;

		@include breakpoint-down(tablet) {
			padding-top: 0;
		}
	}

	.section__header {
		margin-bottom: 56px;

		@include breakpoint-down(tablet) {
			margin-bottom: 36px;
		}

		@include breakpoint-down(mobile) {
			margin-bottom: 16px;
		}
	}

	.section__text {
		margin-bottom: 56px;

		@include breakpoint-down(tablet) {
			margin-bottom: 36px;
		}

		@include breakpoint-down(mobile) {
			margin-bottom: 32px;
		}
	}
}

.section--about {
	padding-bottom: 120px;
	margin-bottom: 0;

	@include breakpoint-down(mobile) {
		padding-bottom: 0;
	}

	&:before {
		content: '';
		z-index: -1;
		position: absolute;
		inset: 0;
		background-color: var(--c-blue);
		mask-repeat: no-repeat;
		mask-size: 100% 100%;
		mask-position: center center;
		mask-image:
			url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' width='1440' height='817' fill='%23FFF' viewBox='0 0 1440 817'%3E%3Cpath d='M262.559 91.414C229.752-17.208 65.183-6.888-13 11.85V817l1420.3-12.54c163.71-91.095 354.36-346.208 88.52-167.775-211.94 142.258-814.289 34.341-1049.222-13.838-64.103-13.146-254.554-74.807-113.024-244.312s-30.006-151.344-71.015-287.121Z'/%3E%3C/svg%3E"),
			linear-gradient(to top, var(--c-white) 6%, var(--c-white) 6%, transparent 2%);

		@include breakpoint-down(mobile) {
			display: none;
		}
	}

	.section__grid {
		display: grid;
		grid-template-columns: 44% 1fr;
		grid-gap: 60px 8%;
		align-items: center;

		@include breakpoint-down(mobile) {
			grid-template-columns: 100%;
		}
	}

	.section__image {
		position: relative;
		padding-left: 7%;

		@include breakpoint-down(tablet) {
			padding-left: 0;
		}

		@include breakpoint-down(mobile) {
			order: 1;
			text-align: center;
			padding-bottom: 48px;
		}

		&:before {
			content: '';
			z-index: -1;
			position: absolute;
			inset: 0 calc(var(--container-gutter) * -1);
			background-color: var(--c-blue);
			mask-repeat: no-repeat;
			mask-size: 100% 100%;
			mask-position: center center;
			mask-image:
				url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' width='1440' height='817' fill='%23FFF' viewBox='0 0 1440 817'%3E%3Cpath d='M262.559 91.414C229.752-17.208 65.183-6.888-13 11.85V817l1420.3-12.54c163.71-91.095 354.36-346.208 88.52-167.775-211.94 142.258-814.289 34.341-1049.222-13.838-64.103-13.146-254.554-74.807-113.024-244.312s-30.006-151.344-71.015-287.121Z'/%3E%3C/svg%3E"),
				linear-gradient(to top, var(--c-white) 6%, var(--c-white) 6%, transparent 2%);

			@include breakpoint-up(mobile) {
				display: none;
			}
		}

		img {
			@include breakpoint-down(mobile) {
				width: 400px;
			}
		}
	}

	.section__content {
		padding-bottom: 120px;

		@include breakpoint-down(tablet) {
			padding-bottom: 80px;
		}

		@include breakpoint-down(mobile) {
			padding-bottom: 0;
		}
	}
}

.section--projects {
	--container-width: 1000px;

	text-align: center;
	color: var(--c-white);
	padding-bottom: clamp(150px, 25vw, 500px);
	background: linear-gradient(to bottom, var(--c-blue), var(--c-lightblue));
	margin-top: -1px;

	@include breakpoint-down(mobile) {
		padding-bottom: calc(10vw + 60px);
	}

	&:after {
		content: '';
		z-index: -1;
		position: absolute;
		inset: auto 0 0;
		height: clamp(80px, 17.5vw, 300px);
		background-color: var(--c-white);
		mask-repeat: no-repeat;
		mask-size: 100% 100%;
		mask-position: center center;
		mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' width='1440' height='243' fill='none' viewBox='0 0 1440 243'%3E%3Cpath fill='%23D9D9D9' d='M0 38.506C174.34-16.362 390.5-21.956 637.5 84.5c465.28 200.535 515.75 171.615 619.3 112.281 42.12-24.135 93.02-53.303 184.2-74.106V243H0V38.506Z'/%3E%3C/svg%3E");

		@include breakpoint-down(mobile) {
			height: 10vw;
		}
	}

	.section__subheader {
		color: inherit;
	}

	.section__projects {
		margin-top: 80px;
		margin-bottom: 64px;

		@include breakpoint-down(tablet) {
			margin-top: 64px;
		}

		@include breakpoint-down(mobile) {
			margin-top: 48px;
			margin-bottom: 48px;
		}

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-top: 0;
		}
	}
}

.section--pricing {
	text-align: center;

	.section__plans {
		margin-top: 72px;

		@include breakpoint-down(tablet) {
			margin-bottom: 54px;
		}

		@include breakpoint-down(mobile) {
			margin-top: 36px;
		}

		&:first-child {
			margin-top: 0;
		}
	}
}

.section--faq {
	--container-width: 800px;

	text-align: center;

	.section__accordion {
		margin-top: 72px;

		@include breakpoint-down(tablet) {
			margin-top: 48px;
		}

		@include breakpoint-down(mobile) {
			margin-top: 36px;
		}

		&:first-child {
			margin-top: 0;
		}
	}
}

.section--callout {
	--image-offset: 80px;

	padding-top: var(--image-offset);

	@include breakpoint-down(small-desktop) {
		--image-offset: 0px;
	}

	@include breakpoint-down(mobile) {
		text-align: center;
		padding-block: 32px;
	}

	@include breakpoint-between(mobile, small-desktop) {
		margin-block: calc(var(--section-spacing) * 1.5);
	}

	.section__grid {
		position: relative;
		display: grid;
		grid-template-columns: 48% 1fr;
		grid-gap: 24px 5%;
		color: var(--c-white);
		border-radius: 20px;
		background: linear-gradient(to bottom, var(--c-lightblue), var(--c-blue));
		padding-left: 7.5%;

		@include breakpoint-down(small-desktop) {
			grid-template-columns: 45% 1fr;
			grid-gap: 24px;
			padding-left: 5%;
		}

		@include breakpoint-down(tablet) {
			padding-left: var(--container-gutter);
		}

		@include breakpoint-down(mobile) {
			grid-template-columns: 100%;
			padding-left: 0;
		}
	}

	.section__content {
		align-self: center;
		padding-block: 64px;

		@include breakpoint-down(tablet) {
			padding-block: 56px;
		}

		@include breakpoint-down(mobile) {
			padding-inline: var(--container-gutter);
			padding-bottom: 0;
		}
	}

	.section__header {
		margin-bottom: 16px;
	}

	.section__text {
		text-wrap: balance;
		color: inherit;
	}

	.section__image {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin-top: calc(var(--image-offset) * -1);

		@include breakpoint-down(mobile) {
			max-width: 450px;
			margin-inline: auto;
		}
	}

	.section__cloud-top {
		z-index: 1;
		position: absolute;
		width: 165px;
		top: 0;
		left: 0;
		transform: translate(-35%, -50%);

		@include breakpoint-down(small-desktop) {
			width: 130px;
			transform: translate(-25%, -50%);
		}

		@include breakpoint-down(mobile) {
			width: 100px;
			transform: translate(-15%, -50%);
		}
	}

	.section__cloud-bottom {
		z-index: 1;
		position: absolute;
		width: 151px;
		bottom: 0;
		right: 0;
		transform: translate(35%, 50%);

		@include breakpoint-down(small-desktop) {
			width: 130px;
			transform: translate(25%, 50%);
		}

		@include breakpoint-down(mobile) {
			width: 100px;
			transform: translate(15%, 50%);
		}
	}
}

.section--contact {
	margin-bottom: 0;

	&:after {
		content: '';
		z-index: -1;
		position: absolute;
		inset: auto 0 -1px;
		height: min(18.4vw, 264px);
		background-color: var(--c-lightblue);
		mask-repeat: no-repeat;
		mask-size: 100% 100%;
		mask-position: center center;
		mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' width='1440' height='264' fill='none' viewBox='0 0 1440 264'%3E%3Cmask id='a' width='1440' height='264' x='0' y='0' maskUnits='userSpaceOnUse' style='mask-type:alpha'%3E%3Cpath fill='%23D9D9D9' d='M0 0h1440v264H0z'/%3E%3C/mask%3E%3Cg mask='url(%23a)'%3E%3Cpath fill='%23D9D9D9' d='M-71.81 617h1626.5l349.5-715c-129 182.167-522.5 488.1-1064.501 254.5-677.499-292-475.499-97.5-838.5-31-290.399 53.2-169.666 349.833-73 491.5Z'/%3E%3C/g%3E%3C/svg%3E");
	}

	.section__grid {
		display: grid;
		grid-template-columns: 41% 1fr;
		grid-gap: 48px 10%;
		align-items: center;

		@include breakpoint-down(mobile) {
			grid-template-columns: 100%;
		}
	}

	.section__image {
		z-index: -2;
		align-self: flex-end;

		@include breakpoint-down(mobile) {
			order: 1;
			max-width: 300px;
			margin-inline: auto;
		}
	}

	.section__content {
		padding-bottom: 100px;

		@include breakpoint-down(mobile) {
			padding-bottom: 0;
		}
	}

	.section__form {
		margin-top: 64px;

		@include breakpoint-down(tablet) {
			margin-top: 44px;
		}

		@include breakpoint-down(mobile) {
			margin-top: 24px;
		}

		&:first-child {
			margin-top: 0;
		}
	}
}
