.services {
	--row-gap: 32px;
	--col-gap: 32px;
	--items: 4;

	@include breakpoint-down(small-desktop) {
		--row-gap: 24px;
		--col-gap: 24px;
	}

	@include breakpoint-down(tablet) {
		--items: 2;
	}

	@include breakpoint-down(mobile-medium) {
		--items: 1;
		--row-gap: 24px;
		--col-gap: 0px;
	}

	.services__grid {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		row-gap: var(--row-gap);
		margin-inline: calc(var(--col-gap) / -2);
	}

	.services__grid-item {
		flex: 0 0 calc(100% / var(--items));
		padding-inline: calc(var(--col-gap) / 2);

		&:nth-child(4n + 2) .service {
			--icon-transform: rotate(-195deg);
		}

		&:nth-child(4n + 3) .service {
			--icon-transform: rotateX(-180deg);
		}

		&:nth-child(4n + 4) .service {
			--icon-transform: rotateY(-180deg);
		}
	}
}
