.services {
	.services__slider {
		margin-bottom: 48px;

		@include breakpoint-down(small-desktop) {
			margin-bottom: 40px;
		}

		@include breakpoint-down(mobile) {
			margin-bottom: 32px;
		}
	}

	.services__body {
		position: relative;
	}

	.services__tab:not(.is-current) {
		position: absolute;
		inset: 0;
		opacity: 0;
		visibility: hidden;
	}

	.services__grid {
		--row-gap: 24px;
		--col-gap: 24px;
		--items: 3;

		@include breakpoint-down(tablet) {
			--items: 2;
			--row-gap: 16px;
			--col-gap: 16px;
		}

		@include breakpoint-down(mobile-medium) {
			--items: 1;
			--row-gap: 16px;
			--col-gap: 0px;
		}

		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		row-gap: var(--row-gap);
		margin-inline: calc(var(--col-gap) / -2);
	}

	.services__grid-item {
		flex: 0 0 calc(100% / var(--items));
		padding-inline: calc(var(--col-gap) / 2);

		&:nth-child(4n + 2) .service {
			--icon-transform: rotate(-195deg);
		}

		&:nth-child(4n + 3) .service {
			--icon-transform: rotateX(-180deg);
		}

		&:nth-child(4n + 4) .service {
			--icon-transform: rotateY(-180deg);
		}
	}
}
