.tabs {
	.tabs__head {
		margin-bottom: 72px;

		@include breakpoint-down(mobile) {
			display: none;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.tabs__nav {
		font-size: 24px;

		ul {
			list-style: none;
			display: flex;
			justify-content: space-between;
			justify-content: center;
			gap: 16px 24px;
			flex-wrap: wrap;
		}
	}

	.tabs__tab {
		@include breakpoint-down(mobile) {
			margin-bottom: 24px;
		}

		&:not(.is-current) {
			@include breakpoint-up(mobile) {
				@include sr-only;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.tabs__tab-head {
		text-align: left;

		@include breakpoint-up(mobile) {
			display: none;
		}
	}

	.tabs__link {
		display: block;
		font-size: 18px;
		font-weight: 600;
		padding-bottom: 8px;
		border-bottom: 1px solid var(--c-white);
	}

	.tabs__tab-body {
		@include breakpoint-down(mobile) {
			display: grid;
			transform: translate3d(0, 0, 0);
			will-change: grid-template-rows, opacity;
			transition-property: grid-template-rows, opacity;
			transition-duration: var(--t-dur);
			transition-timing-function: var(--t-easing);
			grid-template-rows: 0fr;
			opacity: 0;
			padding-inline: var(--padding-inline);
			pointer-events: none;
		}
	}

	.tabs__tab.is-current:not(.is-hidden) .tabs__tab-body {
		@include breakpoint-down(mobile) {
			opacity: 1;
			grid-template-rows: 1fr;
			pointer-events: auto;
		}
	}

	.tabs__tab-body-inner {
		@include breakpoint-down(mobile) {
			min-height: 0;
			overflow: hidden;
		}
	}

	.tabs__tab-content {
		@include breakpoint-down(mobile) {
			padding-top: 24px;
		}
	}
}
