		</main><!-- /.main -->

		<footer class="footer">
			<div class="container">
				<div class="footer__text" data-aos="fade-up" data-aos-offset="0">
					<h2>
						Want to talk with us?
					</h2>
				</div><!-- /.footer__text -->

				<div class="footer__contacts" data-aos="fade-up" data-aos-offset="0">
					<ul>
						<li>
							<a href="mailto:hello@traionis.com">
								hello@traionis.com
							</a>
						</li>
					</ul>
				</div><!-- /.footer__contacts -->
				<div class="footer__foot">
					<div class="footer__copyright" data-aos="fade-up" data-aos-offset="0">
						<p>
							&copy; 2024 Traionis. All rights reserved | All wrongs reversed
						</p>
					</div><!-- /.footer__copyright -->

					<div class="footer__scroll">
						<button class="button-up js-top" data-aos="fade-up" data-aos-offset="0">
							<span>
								Go to top
							</span>
						</button>
					</div><!-- /.footer__scroll -->
				</div><!-- /.footer__foot -->
			</div><!-- /.container -->
		</footer><!-- /.footer -->
	</div><!-- /.page-container -->
</body>
</html>
