		</main><!-- /.main -->

		<footer class="footer">
			<div class="container">
				<div class="footer__inner">
					<div class="footer__aside">
						<a href="home.html" class="logo footer__logo" >
							<img src="/media/logo.svg" alt="Logo">
						</a><!-- /.logo -->
					</div><!-- /.footer__aside -->

					<div class="footer__content">
						<nav class="nav-footer">
							<ul>
								<li>
									<a href="#">
										Home
									</a>
								</li>

								<li>
									<a href="#">
										About
									</a>
								</li>

								<li>
									<a href="#">
										Contact
									</a>
								</li>
							</ul>
						</nav><!-- /.nav-footer -->
					</div><!-- /.footer__content -->
				</div><!-- /.footer__inner -->
			</div><!-- /.container -->

			<div class="footer__bar">
				<div class="container">
					<div class="copyright">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, voluptas!
						</p>
					</div><!-- /.copyright -->
				</div><!-- /.container -->
			</div><!-- /.footer__bar -->
		</footer><!-- /.footer -->
	</div><!-- /.page-container -->
</body>
</html>
