		</main><!-- /.main -->

		<footer class="footer">
			<div class="container">
				<div class="footer__inner">
					<div class="footer__content">
						<div class="footer__entry">
							<h2>
								Want to talk with us?
							</h2>
						</div><!-- /.footer__entry -->

						<div class="footer__contacts">
							<ul>
								<li>
									<a href="mailto:miro@traionis.com">
										miro@traionis.com
									</a>
								</li>
							</ul>
						</div><!-- /.footer__contacts -->

						<div class="footer__copyright">
							<p>
								&copy; 2023 Traionis. All Rights Reserved.
							</p>
						</div><!-- /.footer__copyright -->
					</div><!-- /.footer__content -->

					<div class="footer__aside">
						<button class="btn-up js-top">
							<span>
								Go to top
							</span>
						</button>
					</div><!-- /.footer__aside -->
				</div><!-- /.footer__inner -->
			</div><!-- /.container -->
		</footer><!-- /.footer -->
	</div><!-- /.page-container -->
</body>
</html>
