<load ="html/partials/head.html"/>

<body>
	<a href="#main" class="link-skip js-link-skip">
		Skip to Main Content
	</a>

	<div class="page-container">
		<header class="header js-header">
			<div class="container">
				<div class="header__grid">
					<a href="home.html" class="logo header__logo">
						<img src="/media/logo.png" width="153" height="48" alt="Traionis">
					</a>

					<div class="header__content">
						<nav class="navigation js-page-navigation js-magic-line">
							<ul>
								<li>
									<a href="#services">
										Services
									</a>
								</li>

								<li>
									<a href="#why-us">
										Why Us?
									</a>
								</li>

								<li>
									<a href="#about-us">
										About Us
									</a>
								</li>

								<li>
									<a href="#portfolio">
										Portfolio
									</a>
								</li>

								<li>
									<a href="#pricing">
										Pricing
									</a>
								</li>

								<li>
									<a href="#faq">
										FAQ
									</a>
								</li>
							</ul>

							<span class="navigation__line js-magic-line-elem"></span>
						</nav><!-- /.navigation -->

						<div class="buttons header__buttons">
							<a href="#contact" class="button button--sm button--border">
								Contact Us
							</a>
						</div><!-- /.buttons header__buttons -->
					</div><!-- /.header__content -->

					<button class="menu-toggle js-menu-toggle" aria-label="Toggle Menu" title="Toggle Menu">
						<span></span>

						<span></span>

						<span></span>
					</button>
				</div><!-- /.header__grid -->
			</div><!-- /.container -->
		</header><!-- /.header -->

		<main id="main" class="main">
