<div class="accordion__section">
	<button class="accordion__toggle js-accordion-toggle">
		<div class="accordion__icon">
			<load ="{=$icon}"/>
		</div><!-- /.accordion__icon -->

		<div class="accordion__title" aria-level="3">
			<span>
				{=$title}
			</span>
		</div><!-- /.accordion__title -->
	</button>

	<div class="accordion__content">
		<div class="accordion__content-inner">
			<div class="accordion__entry">
				<p>
					{=$text}
				</p>
			</div><!-- /.accordion__entry -->
		</div><!-- /.accordion__content-inner -->
	</div><!-- /.accordion__content -->
</div><!-- /.accordion__section -->
