<div class="services__grid-item">
	<div class="service">
		<a href="#" class="service__link">
			<div class="service__content">
				<div class="service__icon">
					<load ="{=$img}"/>
				</div><!-- /.service__icon -->

				<div class="service__title">
					<h3 class="h6">
						{=$title}
					</h3>
				</div><!-- /.service__title -->

				<div class="service__view">
					<p>
						View all
					</p>
				</div><!-- /.service__view -->
			</div><!-- /.service__content -->
		</a>
	</div><!-- /.service -->
</div><!-- /.services__grid-item -->
