<div class="{=$class}" data-service="{=$data-solution}" data-aos="fade-up">
	<a href="#" class="solution__link js-solution-toggle">
		<div class="solution__content">
			<div class="solution__icon js-responsive-images">
				<load ="{=$img}"/>
			</div><!-- /.service__icon -->

			<div class="solution__title">
				<h3 class="h6">
					{=$title}
				</h3>
			</div><!-- /.service__title -->

			<div class="solution__view">
				<p>
					View all
				</p>
			</div><!-- /.service__view -->
		</div><!-- /.service__content -->
	</a>
</div><!-- /.service -->
