@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-grid-pattern {
  background-image:
    linear-gradient(to right, rgba(26, 105, 134, 0.12) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(26, 105, 134, 0.12) 1px, transparent 1px);
  background-size: 48px 48px;
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(40px, 30px);
  }
  50% {
    transform: translate(80px, -40px);
  }
  75% {
    transform: translate(40px, -70px);
  }
  100% {
    transform: translate(0, 0);
  }
}
