.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 1rem;
    border-radius: 21px;
    // box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.16);
    // box-shadow: 10px 0px 40px 0px rgba(0, 0, 0, 0.15);

    // box-shadow: 10px 2px 4px 4px rgba(74, 74, 74, 0.75);

    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.1);

    // cursor: pointer;
    transition: all 0.3s;
    top: 0;
    width: calc(100% / 4 - (1rem * (4 - 1))/4);
    aspect-ratio: 1.48/1;
    text-align: center;
    overflow: hidden;
    
    h3 {
      text-transform: capitalize;
    }

    @keyframes waveAnimation {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-2.5rem);
      }
      100% {
        transform: translateY(0);
      }
    }
    &.waveEffect {
      animation: waveAnimation 0.6s ease-in-out;
    }

    .background {
      position: absolute;
      inset: 0;
      background-image: url('/images/service.svg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
      z-index: 0;
      opacity: 0;
      transition: all 0.5s;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 1;
    }

    .icon {
      margin-bottom: 10px;

      font-size: 66px;
      color: #0077ff;

  }

    &:hover,
    &.active {
        .background {
          opacity: 1;
        }
        .icon {
          color: #fff;
        }
        color: #fff;  
        cursor: pointer;
    }

    

   .bulletPoints {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  text-align: left;

  li {
    position: relative;
    padding-left: 1rem;
    // font-weight: 500;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background-color: #0077ff;
    }
  }
}

}
