.header {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1170px;
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: .5rem;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  font-weight: 700;
  height: 70px;
  z-index: 999;
  transition: all 0.5s ease-in-out;

  &.scrolled {
    position: fixed; // Make this change
    top: -100px; // Move it out of the viewport, adjust as needed
    transition: all 0.5s ease-in-out;
    transform: translateY(-100%); // Translate it along Y-axis
  }

  &.sticky {
    position: fixed;
    top: 0; // Move it back into the viewport
    transform: translateY(0); // Translate it back to its original position
    // top: 0;
    // left: 0;
    // right: 0;
    // margin: 0;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.16);
    /* Add any additional styles you need for the sticky header appearance */
  }

  .headerInner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 1170px;
  }

  .element:nth-child(1),
  .element:nth-child(3) {
      flex: 1 1 0;
  }

  .element:nth-child(3) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .contactUs {
        margin-left: 1rem;
      }
  }

  .menu {
    display: flex;
    position: absolute;
    justify-content: end;
    top: calc(100% + 1rem);
    left: 0;
    background-color: #fff;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.16);

    // width: calc(50% - 600px + 40px + 1.5rem); //50% - half of the innerHeader + burger width + padding
    // height: calc(100vh - 70px);
    padding: 1.5rem;
    transition: all 0.5s ease-in-out;
    pointer-events: none;
    border-radius: .5rem;
    display: none;
    &.active {
      display: block;
      pointer-events: all;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      a {
        height: 23px;
        font-weight: 600;
        &.active {
        font-weight: bold;
        color: #00bbff;
        }
      }
    }

    .menuLine {
      position: absolute;
      width: 0px;
      left: .75rem;
      top: 1.5rem;
      bottom: 1.5rem;
      border-left: 2px dashed #0077ff;
      .dot {
        position: absolute;
        left: -1px;
        top: 0;
        transform: translate(-50%, -50%);
        width: .7rem;
        height: .7rem;
        border-radius: 50%;
        background-color: #00bbff;
        transition: top 0.4s ease-in-out
      }
    }
  }

  .logo {
      height: 3.5rem;
  }
  .contact {
    font-weight: 700;
}

  .contactUs {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.79rem;
      height: 2.79rem;
      border-radius: 50%;
      background-color: #00bbff;
      color: #000;
      font-size: 20px;
      cursor: pointer;
      box-shadow: 30px 30px 65px 0px rgba(42, 67, 113, 0.3);

      
      &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: rgba(0, 187, 255, 0.5);
          border: 2px solid rgba(255, 255, 255, 0.5);
          border-radius: 50%;
          opacity: 0;
          pointer-events: none;
          animation: rippleEffect 2s infinite;
          z-index: -1;
      }
  }
  
  @keyframes rippleEffect {
      0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }
      100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.75);
      }
    }

    .burger{
      display:flex;
        flex-direction:column;
        width:40px;
        cursor:pointer;
        
        span{
          background: #0077ff;
          border-radius:10px;
          height:4px;
          margin: 4px 0;
          transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
        }
        span:nth-of-type(1){
          width:50%;
          
        }
        
        span:nth-of-type(2){
          width:100%;
        }
        
        
        span:nth-of-type(3){
          width:75%;
          
        }
        
        
        input[type="checkbox"]{
          display:none;
        }
        
        &.active {
          input[type="checkbox"] ~ span:nth-of-type(1){
            transform-origin:bottom;
            transform:rotatez(45deg) translate(5px,0px)
          }
          
          
          input[type="checkbox"] ~ span:nth-of-type(2){
            
            transform-origin:top;
            transform:rotatez(-45deg)
          }
          
          
          input[type="checkbox"] ~ span:nth-of-type(3){
            
            transform-origin:bottom;
            width:50%;
            transform: translate(18px,-6px) rotatez(45deg);
          
          }
        }
        
      }  

      
}