---
const { title, text, icon } = Astro.props;
// const { default: iconMarkup } = await import(`../icons/${icon}?raw`/* @vite-ignore */);
---

<div class="service-details" data-aos="fade-up">
	<div class="service__icon js-responsive-images">
		<!-- <Fragment set:html={/*iconMarkup*/} /> -->
	</div><!-- /.service__icon -->

	<div class="service__title">
		<h3 class="h6">
			{title}
		</h3>
	</div><!-- /.service__title -->

	<div class="service__text">
		<p>
			{text}
		</p>
	</div><!-- /.service__text -->
</div><!-- /.service-details -->
