body {
	min-width: 320px;
	background: var(--c-white);
	color: var(--c-black);
	font: var(--fw-base) var(--fsz-base) / var(--lh-base) var(--ff-base);

	&.scroll-lock {
		overflow: hidden;
	}
}

@include headings {
	font-weight: 700;
}

.h1 {
	font-size: 42px;
	line-height: 1.2;

	@include breakpoint-down(tablet) {
		font-size: 38px;
	}

	@include breakpoint-down(mobile) {
		font-size: 34px;
	}
}

.h2 {
	font-size: 34px;
	line-height: 1.2;

	@include breakpoint-down(tablet) {
		font-size: 31px;
	}

	@include breakpoint-down(mobile) {
		font-size: 28px;
	}
}

.h3 {
	font-size: 28px;

	@include breakpoint-down(tablet) {
		font-size: 26px;
	}

	@include breakpoint-down(mobile) {
		font-size: 24px;
	}
}

.h4 {
	font-size: 24px;

	@include breakpoint-down(mobile) {
		font-size: 21px;
	}
}

.h5 {
	font-size: 21px;

	@include breakpoint-down(mobile) {
		font-size: 18px;
	}
}

.h6 {
	font-size: 18px;

	@include breakpoint-down(mobile) {
		font-size: 16px;
	}
}

h1 { @extend .h1; }
h2 { @extend .h2; }
h3 { @extend .h3; }
h4 { @extend .h4; }
h5 { @extend .h5; }
h6 { @extend .h6; }
