body {
	min-width: 320px;
	background: var(--c-white);
	color: var(--c-black);
	font: var(--fw-base) var(--fsz-base) / var(--lh-base) var(--ff-base);

	&.scroll-lock {
		overflow: hidden;
	}
}

@include headings {
	font-weight: 700;
}

.h1 {
	font-size: 48px;

	@include breakpoint-down(tablet) {
		font-size: 40px;
	}

	@include breakpoint-down(mobile) {
		font-size: 32px;
	}
}

.h2 {
	font-size: 40px;

	@include breakpoint-down(tablet) {
		font-size: 36px;
	}

	@include breakpoint-down(mobile) {
		font-size: 32px;
	}
}

.h3 {
	font-size: 32px;

	@include breakpoint-down(tablet) {
		font-size: 28px;
	}

	@include breakpoint-down(mobile) {
		font-size: 24px;
	}
}

.h4 {
	font-size: 24px;
}

.h5 {
	font-size: 20px;
}

.h6 {
	font-size: 18px;
}

h1 { @extend .h1; }
h2 { @extend .h2; }
h3 { @extend .h3; }
h4 { @extend .h4; }
h5 { @extend .h5; }
h6 { @extend .h6; }
