:root {
	--vh: 1vh; // Fallback
	--vh: 1svh;
	--window-height: calc(100 * var(--vh));

	--fsz-base: 16px;
	--fw-base: 400;
	--lh-base: 1.22;
	--ff-sans-serif: Helvetica, Arial, sans-serif;
	--ff-serif: 'Times New Roman', Times, Georgia, serif;
	--ff-montserrat: 'Montserrat', var(--ff-sans-serif);
	--ff-base: var(--ff-montserrat);

	--t-dur: .3s;
	--t-easing: ease;

	--c-white-rgb: 255, 255, 255;
	--c-white-2-rgb: 251, 251, 251;
	--c-black-rgb: 0, 0, 0;
	--c-blue-rgb: 0, 132, 255;
	--c-lightblue-rgb: 0, 187, 255;

	--c-white: rgb(var(--c-white-rgb));
	--c-white-2: rgb(var(--c-white-2-rgb));
	--c-black: rgb(var(--c-black-rgb));
	--c-blue: rgb(var(--c-blue-rgb));
	--c-lightblue: rgb(var(--c-lightblue-rgb));


	--section-spacing: 100px;
	--container-width: 1280px;
	--container-gutter: 80px;

	@include breakpoint-down(tablet) {
		--section-spacing: 75px;
		--container-gutter: 40px;
	}

	@include breakpoint-down(mobile) {
		--fsz-base: 16px;

		--section-spacing: 45px;
		--container-gutter: 24px;
	}
}
