.footer {
    display: flex;
    align-items: start;
    width: 100%;
    height: 530px;
    padding-top: 2rem;
    background-image: url('/images/footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .inner {
        display: flex;
        margin: 0 auto;
        padding: 1rem 2rem;
        width: 100%;
        border-radius: 10px;
    }
    .left, .right {
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 50%;
        padding-top: 14rem;
    }

    .left {
        padding-right: 8rem;
        h2 {
            font-weight: 400;
            color: #00BBFF;
        }
        text-align: left;

        .leftInner {
        }
    }

    .logo {
        width: 64px;
        height: 64px;
    }

   .right {
    display: flex;
    align-items: start;
    justify-content: end;
    text-align: left;
    color: #fff;
    font-weight: 700;
    padding-bottom: .5rem;
    padding-left: 12rem;
   }
    
}
