---
import AccordionSection from '../components/AccordionSection.astro';
---

<section class="section section--faq" data-id="faq">
	<div class="container">
		<div class="section__subheader" data-aos="fade-up">
			<p>
				FAQ
			</p>
		</div><!-- /.section__subheader -->

		<header class="section__header" data-aos="fade-up">
			<h2>
				Do You Have a Question?
			</h2>
		</header><!-- /.section__header -->

		<div class="accordion section__accordion js-accordion">
			<AccordionSection
				title="Do you offer maintenance?"
				text="Yes, our monthly maintenance is part of our comprehensive service offering. It includes Traffic reports, Security reports, Plugin updates, Site backups and Content updates."
			/>

			<AccordionSection
				title="Will I have access to my website during development?"
				text="Absolutely. Every client is granted access details to monitor the progress. You can witness the transformation firsthand, contribute to refining your website, and immerse yourself in modern web design. Through this interaction, you're always in the loop about how we're positioning your brand to the audience."
			/>

			<AccordionSection
				title="What's the typical timeline for website completion?"
				text="On average, website development takes 2 weeks from the moment we gather all the necessary details from the client."
			/>

			<AccordionSection
				title="How will my website appear across devices?"
				text="We ensure that your site looks and functions impeccably across a range of devices – from desktops and laptops to tablets and smartphones. Living in a digitized age, it's crucial your online presence is versatile and user-friendly across all platforms."
			/>

			<AccordionSection
				title="Do I need web hosting?"
				text="Yes, web hosting is essentially where your website 'lives' online, making it accessible to internet users. If you don't have hosting, no worries. We provide competitive hosting options to keep your site accessible and running smoothly. Our annual hosting fee is competitively priced and ensures reliable performance and we offer 1 year for free."
			/>

			<AccordionSection
				title="What about domain names?"
				text="A domain is the web address for your site, like 'www.yourbusinessname.com'. Domains are purchased separately, but we can guide you through the process and provide recommendations. Various domain extensions (.com, .net, .bg, etc.) come at different prices, and we can help you find the right fit."
			/>
		</div><!-- /.accordion js-accordion -->
	</div><!-- /.container -->
</section><!-- /.section -->
