---
const { title } = Astro.props;
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="Elevate Your Online Presence With Custom Web Development" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/main.css" />
		<!-- <link rel="stylesheet" lang="scss" href="/styles/bundle.scss" /> -->
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>{title}</title>
	</head>
	<body>
		<a href="#main" class="link-skip js-link-skip">
			Skip to Main Content
		</a>

		<div class="page-container">
			<Header />

			<main id="main" class="main">
				<slot />
			</main><!-- /.main -->

			<Footer />
		</div><!-- /.page-container -->
		<script src="../js/bundle.js"></script>
	</body>
</html>
