.slider {
	--slides: 1;
	--gap: 0px;

	.swiper-slide {
		width: calc((100% - var(--gap) * (var(--slides) - 1)) / var(--slides));
		height: auto;
		margin-right: var(--gap);

		&:last-child {
			margin-right: 0;
		}
	}
}

.slider--services {
	--slides: 4;
	--gap: 24px;

	@include breakpoint-down(small-desktop) {
		--slides: 3.25;
	}

	@include breakpoint-down(tablet) {
		--slides: 2.5;
		--gap: 16px;
	}

	@include breakpoint-down(mobile) {
		--slides: 2.2;
	}

	@include breakpoint-down(mobile-medium) {
		--slides: 1.5;
	}

	@include breakpoint-down(mobile-small) {
		--slides: 1.2;
	}

	.swiper {
		overflow: visible;
	}
}
